{{> ../../Header/Header}}


<div class="bodyCategories">

    <h1>{{dataPage.title}}</h1>
    <p>{{dataPage.text}}</p>

    <div class="categories">
        <b class="helpTitle-1">Select project category</b>
        <nav class="navCategories">
            <ul class="list">
                {{#each NavCategories}}
                    <li>
                        <a class="link" href={{link}}?id_category={{id}}>
                            {{label}}
                            <span>&rArr;</span>
                        </a>
                    </li>
                {{/each}}
            </ul>
        </nav>
    </div>
    <div class="partGrid" id="selfCategoriesContainer">
        {{#each self}}
            {{> ../../Self/list/default/markup}}
        {{/each}}
    </div>

    <div class="containerCenter">

    {{#if self}}
        <button class="button button-1" id="buttonSelfCategoriesLoadMore">Load more projects</button>
    {{/if}}
    </div>

</div>

{{> ../../Footer/Footer}}

