<div class="postDesign1">
    <h3 class="title">{{title}}</h3>

    <div class="imgWr">
        <img src={{imgSrc}} alt={{imgAlt}}>
    </div>

    <div class="text">
        {{text}}
    </div>
    <span class="date">{{createDate}}</span>
</div>