{{> ../../Header/Header}}

<div class="container">
    Categories page

    <h1>{{dataPage.title}}</h1>
    <p>{{dataPage.text}}</p>



    <div class="categories">
        <b>Categories</b>
        <nav>
            <ul class="list">
                {{#each NavCategories}}
                    <li>
                        <a href={{link}}?id_category={{id}}>{{label}}</a>
                    </li>
                {{/each}}
            </ul>
        </nav>
    </div>
    <div class="works" id="worksCategoriesContainer">
        {{#each works}}
            {{> ../../Works/list/default/markup}}
        {{/each}}
    </div>


    {{#if works}}
        <button id="buttonWorksCategoriesLoadMore">Load more works</button>
    {{/if}}


</div>

{{> ../../Footer/Footer}}

