{{> ../../Header/Header}}


<div class="bodyCategories">

    <h1>{{dataPage.title}}</h1>
    <p>{{dataPage.text}}</p>

    <div class="categories">
        <b class="helpTitle-1">Select work category</b>
        <nav class="navCategories">
            <ul class="list">
                {{#each NavCategories}}
                    {{#if count}}
                        <li>
                            <a class="link" href={{link}}?id_category={{id}}>
                                {{label}} ({{count}})
                                <span>&rArr;</span>
                            </a>
                        </li>
                    {{else}}
                        <li>
                            <a class="link" href={{link}}?id_category={{id}}>
                                {{label}}
                                <span>&rArr;</span>
                            </a>
                        </li>
                    {{/if}}
                {{/each}}
            </ul>
        </nav>
    </div>
    <div class="partGrid" id="worksCategoriesContainer">
        {{#each works}}
            {{> ../../Works/list/default/markup}}
        {{/each}}
    </div>

    <div class="containerCenter">
        <button class="button button-1 {{buttonMoreClassVisible}}" id="buttonWorksCategoriesLoadMore">Load more works</button>
    </div>

</div>

{{> ../../Footer/Footer}}

