<div class="item" >
    <a class="link" href="{{link}}?id={{id}}">
        <!--<div class="imgWr">-->
            <!--<img class="imgH" src={{imgSrc}} alt={{imgAlt}}>-->
        <!--</div>-->
        <div class="wr" style="background-color: {{color.background}}; color: {{color.color}}">
            <span>{{letter}}</span>
        </div>
    </a>
    <!--<div>
        <a class="link" href="{{link}}?id={{id}}">
            <h3>{{title}}</h3>
        </a>
        <div class="text">
            {{text}}
        </div>
        <span class="date">{{createDate}}</span>
    </div>-->
</div>