<div class="postsDesign1">
    <a class="link" href="{{link}}?id={{id}}">
        <div class="imgWr">
            <img src={{imgSrc}} alt={{imgAlt}}>
        </div>
    </a>
    <a class="link" href="{{link}}?id={{id}}">
        <h3>{{title}}</h3>
    </a>
    <div class="text">
        {{text}}
    </div>
    <span class="date">{{createDate}}</span>
</div>