{{> ../Header/Header}}

<div class="bodyAbout">


    <!--<h1>{{dataPage.title}}</h1>-->
    <p class="titleMain">{{dataPage.text}}</p>


    <b class="title-3-Center">Contacts</b>

    <p class="text-center">
        <b class="title-2-Center">E-mail</b>
        <a href="mailto:{{dataPage.contacts.mail}}">{{dataPage.contacts.mail}}</a>
    </p>
    <p class="text-center">
        <b class="title-2-Center">Social</b>

            {{#each dataPage.contacts.social}}
                    <a href={{link}} target="_blank">
                        <img class="iconImg" src={{iconPath}} alt="">
                    </a>
            {{/each}}

    </p>
</div>

{{> ../Footer/Footer}}

